.card_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.card_wrapper {
    width: 270px;
    padding: 1em;
    min-height: 180px;
    h3{
      padding-bottom: 1em;
    }
    .description{
      height: 200px;
      overflow: auto;
    }
  }
